* { box-sizing: border-box; }

body {
  margin: 0;
  background-color: #12c9d6;
}

html {
  font-size: 32px;
  font-family: HelloFont ID TongZhiTi;
}

h1 {
  grid-column-start: apple;
  grid-column-end: orange;
  font-weight: normal;
  text-align: center;
  font-size: 3em;
  font-family: HelloFont ID YouManTi;
}

h3 {
  font-family: HelloFont ID ShouXieTongZhenTi;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

p {
  margin: 0;
}

img {
  max-width: 100%;
}

/*#main-content {
  margin-left: auto;
  margin-right: auto;
}*/

/* The container must be positioned relative: */

#main-nav {
  position: fixed;
  color: magenta;
  font-size: 1.5em;
  background-color: lavender;
}

#main-nav li {
  padding: 15px;
}

#home {
  background: black;
  color: white;
  padding: 100px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

#languages {
  display: grid;
  grid-template-columns: [apple] 30% [banana] 30% [strawberry] 30% [orange];
  column-gap: 5%;
  row-gap: 40px;
  background: #196438;
  padding: 30px;
  position: relative;
  color: white;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.Viner-Hand-ITC {
  font-family: Viner Hand ITC, Chalkduster;
}

.Algerian {
  font-family: Algerian, HelloFont ID ChunZhenTi;
  font-size: 24px;
}

.Cooper-Black {
  font-family: Cooper Black, Sniglet;
}

.Forte {
  font-family: Forte, Herculanum;
}

.Chantal {
  font-family: Chantal;
}

.Matura-MT-Script-Capitals {
  font-family: Matura MT Script Capitals, HelloFont ID ChunYiTi;
  font-size: 20px;
}

#breeds {
  display: grid;
  grid-template-columns: [apple] 30% [banana] 30% [strawberry] 30% [orange];
  column-gap: 5%;
  row-gap: 40px;
  background: #1a3464;
  padding: 30px;
  position: relative;
  color: white;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

#popular-music {
  background: yellow;
  padding: 5px;
  width: 60%;
  text-indent: 50px;
  margin-left: auto;
  margin-right: auto;
}

.music {
  margin-left: auto;
  margin-right: auto;
}

#title {
  font-family: HelloFont ID ShouXieTongZhenTi;
}

#artist {
  color: gray;
  font-family: HelloFont ID ShouXieTongZhenTi;
}

footer {
  background-color: black;
  color: white;
  text-indent: 50px;
}

@media only screen and (min-width: 600px) and (max-width:1000px) {
  #main-nav {
    font-size: 0.75em;
  }
}

@media only screen and (min-width: 500px) and (max-width: 600px) {
  #main-nav {
    font-size: 0.5em;
  }
}

@media only screen and (max-width: 500px) {
  #languages {
    display: inline-block;
    background-color: #196438;
    width: 100%;
  }
  #breeds {
    display: inline-block;
    background-color: aqua;
    width: 100%;
  }
  #popular-music {
    /*display: inline-block;*/
    background-color: yellow;
    width: 100%;
    text-indent: 0px;
  }
  .center {
    width: 150%;
  }
}
